<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <title>Title</title>
</head>
<!--String sku = "";-->
<!--String bookTitle = "";-->
<!--String author = "";-->
<!--String description = "";-->
<!--double price = 0.0;-->
<!--String isInStock = "";-->
<!--int amount = 0;-->
<body>
<div th:replace="base :: navlinks"></div>
<br>
<form autocomplete="off" class="form-horizontal" action="#" th:action="@{/processcar}" th:object="${car}" method="post" enctype="multipart/form-data" >
    <div class="ui-widget">
        <div class="form-inline">
            <input type="hidden" th:field="*{id}" />
            <label class="control-label col-sm-1" for="manufacturer"></label>
            <div class="col-auto">
                <input type="text" class="form-control basicAutoComplete" id="manufacturer" placeholder="Enter Manufacturer" th:field="*{manufacturer}" />
                <span th:if="${#fields.hasErrors('manufacturer')}"
                      th:errors="*{manufacturer}"></span><br />
            </div>
        </div>
    </div>
    <br>
    <div class="form-inline">
        <label class="control-label col-sm-1" for="model"></label>
        <div class="col-auto">
            <input type="text" class="form-control basicAutoComplete" id="model" placeholder="Enter Model" th:field="*{model}" />
            <span th:if="${#fields.hasErrors('model')}"
                  th:errors="*{model}"></span><br />
        </div>
    </div>
    <br>
    <div class="form-inline">
        <label class="control-label col-sm-1" for="year">Year: </label>
        <div class="col-auto">
            <input type="text" class="form-control basicAutoComplete" id="year" placeholder="Enter Year" th:field="*{year}" />
            <span th:if="${#fields.hasErrors('year')}"
                  th:errors="*{year}"></span><br />
        </div>
    </div>
    <br />
    <div class="form-inline">
        <label class="control-label col-sm-1" for="price">Price: </label>
        <div class="col-auto">
            <input type="text" class="form-control basicAutoComplete" id="price" placeholder="Enter Price" th:field="*{price}" />
            <span th:if="${#fields.hasErrors('price')}"
                  th:errors="*{price}"></span><br />
        </div>
    </div>
    <br>
    <div class="form-inline">
        <label class="control-label col-sm-1" for="category">Category: </label>
        <div class="col-auto">
            <div th:switch="${categories==null}">
                <span th:case="true"><input type="text"  disabled></span>
                <select th:case="false" th:field="*{category}" id="category" multiple>
                    <option th:each ="category:${categories}" th:value="${category.id}" th:text="${category.name}"></option>
                </select>
                <p th:case="*">error</p>
            </div>
        </div>
    </div>
    </div>
    <br>
    <div class="form-inline">
        <label class="control-label col-sm-1"></label>
        <div class="col-auto">
            <input type="file" class="form-control-file" name="file"/>
        </div>
    </div>
    <br>
    <div class="form-group">
        <div class="col-sm-offset-1 col-sm-10">
            <button type="submit"  class="btn btn-outline-dark">Submit</button>
        </div>
    </div>

</form>
<br>
<div th:replace="base :: footer"></div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>