<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <title>Title</title>
</head>
<body>
<div th:replace="base :: navlinks"></div>
<br>
<form autocomplete="off" class="form-horizontal" action="#" th:action="@{/editprofile}" th:object="${user}" method="post" enctype="multipart/form-data" >
    <div class="ui-widget">
        <div class="form-inline">
            <input type="hidden" th:field="*{id}" />
            <label class="control-label col-sm-1 text-center" for="firstname">First Name:</label>
            <div class="col-auto">
                <input type="text" class="form-control basicAutoComplete" id="firstname" placeholder="First Name" th:field="*{firstName}" />
                <span th:if="${#fields.hasErrors('firstName')}"
                      th:errors="*{firstName}"></span><br />
            </div>
        </div>
    </div>
    <br>
    <div class="form-inline">
        <label class="control-label col-sm-1 text-center" for="lastname">Last Name:</label>
        <div class="col-auto">
            <input type="text" class="form-control basicAutoComplete" id="lastname" placeholder="Last Name" th:field="*{lastName}" />
            <span th:if="${#fields.hasErrors('lastName')}"
                  th:errors="*{lastName}"></span><br />
        </div>
    </div>
    <br>
    <div class="form-inline">
        <label class="control-label col-sm-1" for="email">Email:</label>
        <div class="col-auto">
            <input type="text" class="form-control basicAutoComplete" id="email" placeholder="Email" th:field="*{email}" />
            <span th:if="${#fields.hasErrors('email')}"
                  th:errors="*{email}"></span><br />
        </div>
    </div>
    <br />
    <div class="form-inline">
        <label class="control-label col-sm-1" for="username">Username:</label>
        <div class="col-auto">
            <input type="text" class="form-control basicAutoComplete" id="username" placeholder="Username" th:field="*{username}" disabled/>
            <input type="hidden" th:field="*{username}" />
            <span th:if="${#fields.hasErrors('username')}"
                  th:errors="*{username}"></span><br />
        </div>
    </div>
    <br>
    <div class="form-inline">
        <label class="control-label col-sm-1" for="password">Password:</label>
        <div class="col-auto">
            <input type="password" class="form-control basicAutoComplete" id="password" placeholder="password" th:field="*{password}" />
            <span th:if="${#fields.hasErrors('password')}"
                  th:errors="*{password}"></span><br />
        </div>
    </div>
    <br>
    <div class="form-inline">
        <label class="control-label col-sm-1">Image: </label>
        <div class="col-auto">
            <input type="file" class="form-control-file" name="file"/>
        </div>
    </div>
    <br>
    <div class="form-inline"th:if="${user.photo != null}">
        <label class="control-label col-sm-1"></label>
        <div class="col-auto">
            <img th:src="${user.photo}" alt="meme image"/>
        </div>
    </div>
    <br>
    <div class="form-inline">
        <label class="control-label col-sm-1"></label>
        <div class="col-auto">
            <input type="hidden" th:value="${user.photo}" name="hiddenphoto"/>
            <button type="submit"  class="btn btn-outline-dark">Submit</button>
        </div>
    </div>

</form>
<br>
<div th:replace="base :: footer"></div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>