<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<title>Login V4</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" th:href="@{/customlogin.css}">
<!--===============================================================================================-->
</head>
<body>
<br>
<br>
<div class="cont">
	<div class="form sign-in">
		<form action="#" th:action="@{/login}" method="post">
		<h2>Welcome back,</h2>
		<label>
			<span>Username</span>
			<input type="text" name="username" />
		</label>
		<label>
			<span>Password</span>
			<input type="password" name="password" />
		</label>
				<span>
					<br>
			<div th:if="${param.error}">
				<h3>Invalid username or password</h3>
			</div>
			<div th:if="${param.logout}">
				<h3>You have been logged out</h3>
			</div>
					<br>
					</span>
		<p class="forgot-pass">Forgot password?</p>
			<button type="submit" class="submit">Sign In</button>
		</form>

	</div>
	<div class="sub-cont">
		<div class="img">
			<div class="img__text m--up">
				<h2>New here?</h2>
				<p>Sign up and discover great amount of new opportunities!</p>
			</div>
			<div class="img__text m--in">
				<h2>One of us?</h2>
				<p>If you already has an account, just sign in. We've missed you!</p>
			</div>
			<div class="img__btn">
				<span class="m--up">Sign Up</span>
				<span class="m--in">Sign In</span>
			</div>
		</div>
		<div class="form sign-up">
			<form form autocomplete="off"
				  name="myForm" action="#"
				  th:action="@{/register}"
				  th:object="${user}"  method="post">
				<!--onsubmit="return validateForm()"-->
				<!--used for javascript validation-->
			<h2>Time to feel like home,</h2>
			<label>
				<span>Name</span>
				<input type="text" id="firstName" placeholder="First Name" th:field="*{firstName}" maxlength="15" required />
				<!--<span th:if="${#fields.hasErrors('firstName')}"-->
					  <!--th:errors="*{firstName}">First Name Error</span>-->
				<input type="text" id="lastName" placeholder="Last Name" th:field="*{lastName}" maxlength="20" required/>
				<!--<span th:if="${#fields.hasErrors('lastName')}"-->
					  <!--th:errors="*{lastName}">Last Name Error</span>-->
			</label>
			<label>
				<span>Email</span>
				<input type="email" id="email"  th:field="*{email}"  required/>
				<!--<span th:if="${#fields.hasErrors('email')}"-->
					  <!--th:errors="*{email}">Email Error</span>-->
			</label>
				<label>
					<span>Username</span>
					<input type="text" id="username"  th:field="*{username}" maxlength="15" required/>
					<!--<span th:if="${#fields.hasErrors('username')}"-->
						  <!--th:errors="*{username}">Username Error</span>-->
				</label>
			<label>
				<span>Password</span>
				<input type="password" id="password"  th:field="*{password}" pattern="(?=.*\d)(?=.*[a-z]).{8,}"
					   title="Must contain at least one number and at least 8 or more characters"
					   required />
				<!--<span th:if="${#fields.hasErrors('password')}"-->
					  <!--th:errors="*{password}">Password Error</span>-->
			</label>
			<button type="submit" class="submit">Sign Up</button>
			</form>
		</div>
	</div>
</div>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script th:src="@{/customlogin.js}"></script>
</body>
</html>